body {
    background-color: lightgray;
  }

h1 {
    border: 2px solid blue;
    padding: 20px;
    font-size: 15px;
    background-color: white;
    margin: 25px 100px 50px 100px;
  }

  p {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin: 25px 100px 50px 100px;
  }
