body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin: 20px;
}

.left-column {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

article {
    flex: 6; 
    background-color: #f1f1f1;
    padding: 20px;
}

section {
    flex: 6; 
    background-color: #f1f1f1;
    padding: 20px;
}

aside {
    width: 30%;
    background-color: lightgray;
    padding: 20px;
}

header {
    background-color: white;
    padding: 30px;
    align-items: stretch;
    text-align: center;
    font-size: 35px;
    color: black;
    width: 100%;
}

nav {
    width: 100%;
    background: #ccc;
    padding: 20px;
    text-align: center;
}

li {
    display: inline;
}

footer {
    background-color: #777;
    padding: 10px;
    align-items: stretch;
    text-align: center;
    color: white;
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
    aside, article, section {
        width: 100%;
    }
}

img {
    width: 70%;
  }
